.maindiv{
 width: 100vw;
 height: 50vh;
}
.maindiv img{
 width: 100%;
 height: 100%;
}
.h1tag{
 text-align: center;
 padding: 20px 0;
}
.imgname{

 width: 50vw;
 display: flex;
 justify-content: center;
 align-content: center;
}
.fastspan{
 font-size: 2.5rem;
}
.imgname img{
 width: 80%;
 box-shadow: 3px 3px 10px black;
}
.head1 p{
 width: 50vw;
}
.spanname{
 font-size: 25px;
}
.head1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 5rem;
 gap: 3rem;

}
.pragraph{
 margin: 2rem 5rem; 
}
.h2code{
 margin: 2rem 5rem;
}
.gridcomponent{
 margin: 5rem;
 display: grid;
gap: 10px;
 grid-template-columns: repeat(4,1fr);
}
.picdiv{
 transition: all 0.5s ease-in-out;
 box-shadow: 2px 2px 4px black;
}
.picdiv:hover{
 transform: scale(0.9);
}

.picdiv img{
 width: 100%;
 height: 100%;
 
}
#picid2{
 grid-area: 1/2/3/4;
 }
#picid5{
 grid-row: 2/4;
}
#picid10{
 grid-column: 3/5;
 
}
#picid6{
 grid-row: 2/4;
 
}
.popular{
 text-align: center;

}
.popular button{
 padding: 7px 20px;
 border: none;
 border-radius: 5px;
 background-color: royalblue;
 color: #fff;
 box-shadow: 4px 4px 8px black;
}
@media(max-width:720px){
 .pragraph{
  margin: 0rem 2rem; 
  font-size: 12px;
 }

 .imgname{

 
  display: block;

 }

 .head1{
  display: block;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 3rem;
 
 }
 .head1 p{
  margin-top: 1rem;
  font-size: 13px;
  width: 85vw;
 }
 .h2code{
  margin: 1rem 2rem;
 }
 .imgname img{
  width: 80vw;
  box-shadow: 3px 3px 10px black;
 }
 .gridcomponent{
  margin: 2rem;
  display: grid;
 gap: 10px;
  grid-template-columns: repeat(4,1fr);
 }
 .maindiv{
  width: 100vw;
  height: 30vh;
 }
}