.pic{
 display: flex;
 justify-content: center;
 align-items: center;
}
.divs{
 display: flex;
 gap: 25px;
 justify-content: center;
}
.divs i{
 font-size: 30px;
}
.p{
 text-align: center;
 font-size: 2rem;
}
.h1{
 font-size: 4rem;
}
@media (max-width:730px){
 .pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  height: 100vh;
 }
 .pic img{
 width: 25rem
 }

}
@media (min-width: 730px) and (max-width: 1100px) {
 .pic {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
 }
 .pic img {
   width: 40rem;
 }
}
